Repository pytorch/serve, pull requests merged in 2022-10, with the labels that each got.

#1751 fix: pv creation for k8s setup
  kubernetes/EKS/README.md
  kubernetes/EKS/setup_efs.sh
  kubernetes/EKS/templates/efs_pv_claim.yaml
Labels: triaged, kubernetes

#1747 fix: volume permission in kubernetes setup
  kubernetes/Helm/templates/torchserve.yaml
  kubernetes/Helm/values.yaml
Labels: kubernetes

#1760 fix: upgrade hpa with v2beta2 api version
  kubernetes/hpa.yaml
Labels: kubernetes

#1897 "Add warning message for CorruptedFrameException (issue #1870)"
  frontend/server/src/main/java/org/pytorch/serve/util/codec/CodecUtils.java
Labels: good first issue

#1855 Add linting steps to doc-automation workflow
  .github/workflows/lint.yml
  .gitignore
  CONTRIBUTING.md
  README.md
  benchmarks/README.md
  benchmarks/add_jmeter_test.md
  benchmarks/img/teardown-tg.png
  benchmarks/sample_report.md
  binaries/README.md
  docker/README.md
  docs/FAQs.md
  docs/README.md
  docs/Troubleshooting.md
  docs/batch_inference_with_ts.md
  docs/configuration.md
  docs/custom_service.md
  docs/getting_started.md
  docs/index.md
  docs/internals.md
  docs/management_api.md
  docs/metrics.md
  docs/metrics_api.md
  docs/performance_guide.md
  docs/workflows.md
  examples/FasterTransformer_HuggingFace_Bert/README.md
  examples/Huggingface_Transformers/README.md
  examples/MMF-activity-recognition/README.md
  examples/README.md
  examples/custom_metrics/README.md
  examples/dcgan_fashiongen/Readme.md
  examples/image_classifier/mnist/README.md
  examples/intel_extension_for_pytorch/README.md
  examples/text_classification/README.md
  examples/text_classification_with_scriptable_tokenizer/README.md
  frontend/.gitignore
  kubernetes/AKS/README.md
  kubernetes/GKE/README.md
  kubernetes/README.md
  kubernetes/autoscale.md
  kubernetes/examples/FasterTransformer_HuggingFace_Bert.md
  kubernetes/kserve/README.md
  kubernetes/kserve/developer_guide.md
  kubernetes/kserve/kf_request_json/v2/bert/README.md
  kubernetes/kserve/kserve_wrapper/README.md
  plugins/docs/README.md
  plugins/docs/ddb_endpoint.md
  test/README.md
  test/data_file_config.md
  ts_scripts/markdown_link_check_config.json
  ts_scripts/spellcheck.sh
  ts_scripts/spellcheck_conf/spellcheck.yaml
  ts_scripts/spellcheck_conf/wordlist.dic
  ts_scripts/spellcheck_conf/wordlist.txt
Labels: p0, code-quality

#1791 Update plugins/gradle.properties
  plugins/gradle.properties
Labels: ci

#1867 On-premise near real-time video inference
  examples/README.md
  examples/image_classifier/near_real_time_video/README.md
  examples/image_classifier/near_real_time_video/architecture/arch.png
  examples/image_classifier/near_real_time_video/architecture/cv_pipeline.png
  examples/image_classifier/near_real_time_video/config.properties
  examples/image_classifier/near_real_time_video/create_mar_file.py
  examples/image_classifier/near_real_time_video/data/sample_video.mp4
  examples/image_classifier/near_real_time_video/near_real_time_video_handler.py
  examples/image_classifier/near_real_time_video/request.py
  test/pytest/conftest.py
  test/pytest/test_example_near_real_time_video.py
Labels: p1, example
