Repository pytorch/serve, pull requests merged in 2022-11, with the labels that each got.

#1874 Metrics helper classes implementation for C++ backend
  cpp/src/utils/CMakeLists.txt
  cpp/src/utils/metrics.hh
  cpp/src/utils/metrics/log_metric.cc
  cpp/src/utils/metrics/log_metric.hh
  cpp/src/utils/metrics/metric.hh
  cpp/src/utils/metrics/units.cc
  cpp/src/utils/metrics/units.hh
  cpp/test/resources/metrics/log_to_file.config
  cpp/test/utils/metrics/log_metric_test.cc
  cpp/test/utils/metrics/units_test.cc
Labels: c++, metrics

#1924 Replace os.system() calls with subprocess.run() in ./test/pytest/test_handler.py
  test/pytest/test_handler.py
Labels: bootcamp

#1939 Example for using Wav2Vec2 SpeechToText from Huggingface
  examples/speech2text_wav2vec2/README.md
  examples/speech2text_wav2vec2/archive_model.sh
  examples/speech2text_wav2vec2/download_wav2vec2.py
  examples/speech2text_wav2vec2/environment.yml
  examples/speech2text_wav2vec2/handler.py
  examples/speech2text_wav2vec2/sample.wav
Labels: example, bootcamp

#1904 feat: huggingface diffusers example
  examples/diffusers/Download_model.py
  examples/diffusers/Readme.md
  examples/diffusers/config.properties
  examples/diffusers/query.py
  examples/diffusers/requirements.txt
  examples/diffusers/sample.txt
  examples/diffusers/sample_v1.json
  examples/diffusers/sample_v2.json
  examples/diffusers/stable_diffusion_handler.py
  ts_scripts/spellcheck_conf/wordlist.txt
Labels: example

#1933 feat: large HG models example
  examples/Huggingface_Largemodels/Download_model.py
  examples/Huggingface_Largemodels/Readme.md
  examples/Huggingface_Largemodels/config.properties
  examples/Huggingface_Largemodels/custom_handler.py
  examples/Huggingface_Largemodels/requirements.txt
  examples/Huggingface_Largemodels/sample_text.txt
  examples/Huggingface_Largemodels/setup_config.json
  ts_scripts/spellcheck_conf/wordlist.txt
Labels: example

#1920 feat: Adds DeepSpeed MII example
  examples/deepspeed_mii/DeepSpeed_mii_handler.py
  examples/deepspeed_mii/Download_deepseed_mii_models.py
  examples/deepspeed_mii/Readme.md
  examples/deepspeed_mii/config.properties
  examples/deepspeed_mii/deepspeed_mii_stable_diffusion.py
  examples/deepspeed_mii/query.py
  examples/deepspeed_mii/requirements.txt
  examples/deepspeed_mii/setup_config.json
  ts_scripts/spellcheck_conf/wordlist.txt
Labels: example

#1857 Add ONNX and ORT support + Docs for TensorRT
  .gitignore
  README.md
  docs/performance_guide.md
  model-archiver/model_archiver/arg_parser.py
  model-archiver/model_archiver/model_packaging_utils.py
  setup.py
  test/pytest/onnx_handler.py
  test/pytest/test_onnx.py
  ts/torch_handler/base_handler.py
  ts/utils/util.py
  ts_scripts/spellcheck_conf/wordlist.txt
Labels: p0, optimization

#1941 YAML metrics configuration handling for C++ backend
  cpp/CMakeLists.txt
  cpp/build.sh
  cpp/src/utils/CMakeLists.txt
  cpp/src/utils/metrics/config.hh
  cpp/src/utils/metrics/yaml_config.cc
  cpp/src/utils/metrics/yaml_config.hh
  cpp/test/resources/metrics/invalid_config_duplicate_dimension.yaml
  cpp/test/resources/metrics/invalid_config_duplicate_metric_dimension.yaml
  cpp/test/resources/metrics/invalid_config_duplicate_metric_name.yaml
  cpp/test/resources/metrics/invalid_config_empty_dimension.yaml
  cpp/test/resources/metrics/invalid_config_empty_metric_name.yaml
  cpp/test/resources/metrics/invalid_config_missing_metric_name.yaml
  cpp/test/resources/metrics/invalid_config_undefined_dimension.yaml
  cpp/test/resources/metrics/minimal_valid_config.yaml
  cpp/test/resources/metrics/valid_config.yaml
  cpp/test/utils/metrics/yaml_config_test.cc
Labels: c++, metrics

#1845 Remove some redundant code in model_loader
  .github/workflows/lint.yml
  .gitignore
  docs/metrics.md
  examples/intel_extension_for_pytorch/README.md
  frontend/.gitignore
  model-archiver/model_archiver/model_packaging_utils.py
  ts/model_loader.py
  ts/tests/unit_tests/test_model_loader.py
  ts/tests/unit_tests/test_model_service_worker.py
  ts/torch_handler/request_envelope/json.py
  ts_scripts/spellcheck_conf/wordlist.txt
Labels: code-quality

#1975 Metrics cache implementation and integration with C++ backend
  cpp/src/backends/process/model_worker_socket.cc
  cpp/src/backends/torch_scripted/handler/base_handler.cc
  cpp/src/backends/torch_scripted/handler/base_handler.hh
  cpp/src/utils/CMakeLists.txt
  cpp/src/utils/metrics/cache.hh
  cpp/src/utils/metrics/config.hh
  cpp/src/utils/metrics/log_metric.cc
  cpp/src/utils/metrics/log_metric.hh
  cpp/src/utils/metrics/log_metrics_cache.cc
  cpp/src/utils/metrics/log_metrics_cache.hh
  cpp/src/utils/metrics/metric.hh
  cpp/src/utils/metrics/registry.cc
  cpp/src/utils/metrics/registry.hh
  cpp/test/backends/otf_protocol_and_handler_test.cc
  cpp/test/backends/torch_scripted/torch_scripted_backend_test.cc
  cpp/test/resources/metrics/default_config.yaml
  cpp/test/utils/metrics/log_metric_test.cc
  cpp/test/utils/metrics/log_metrics_cache_test.cc
  cpp/test/utils/metrics/registry_test.cc
  frontend/server/src/main/java/org/pytorch/serve/util/ConfigManager.java
  frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerLifeCycle.java
  ts/configs/metrics.yaml
Labels: c++, metrics

#2012 Metrics cache implementation and integration with C++ backend
  cpp/src/backends/process/model_worker_socket.cc
  cpp/src/backends/torch_scripted/handler/base_handler.cc
  cpp/src/backends/torch_scripted/handler/base_handler.hh
  cpp/src/utils/CMakeLists.txt
  cpp/src/utils/metrics/cache.hh
  cpp/src/utils/metrics/config.hh
  cpp/src/utils/metrics/log_metric.cc
  cpp/src/utils/metrics/log_metric.hh
  cpp/src/utils/metrics/log_metrics_cache.cc
  cpp/src/utils/metrics/log_metrics_cache.hh
  cpp/src/utils/metrics/metric.hh
  cpp/src/utils/metrics/registry.cc
  cpp/src/utils/metrics/registry.hh
  cpp/test/backends/otf_protocol_and_handler_test.cc
  cpp/test/backends/torch_scripted/torch_scripted_backend_test.cc
  cpp/test/resources/metrics/default_config.yaml
  cpp/test/utils/metrics/log_metric_test.cc
  cpp/test/utils/metrics/log_metrics_cache_test.cc
  cpp/test/utils/metrics/registry_test.cc
  frontend/server/src/main/java/org/pytorch/serve/util/ConfigManager.java
  frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerLifeCycle.java
  ts/configs/metrics.yaml
Labels: c++, metrics

#2014 add pyyaml in requirements
  requirements/common.txt
Labels: bug
