Repository pytorch/serve, pull requests merged in 2022-02, with the labels that each got.

#659 Dcgan fashiongen example
  examples/README.md
  examples/dcgan_fashiongen/Readme.md
  examples/dcgan_fashiongen/create_mar.sh
  examples/dcgan_fashiongen/dcgan_fashiongen_handler.py
  examples/dcgan_fashiongen/sample-output/img1.jpg
  examples/dcgan_fashiongen/sample-output/img2.jpg
  examples/dcgan_fashiongen/sample-output/img3.jpg
  test/pytest/test_example_dcgan.py
Labels: enhancement

#1453 add gpu and memory usage in metrics
  benchmarks/benchmark-ab.py
  docs/metrics.md
  frontend/server/src/main/java/org/pytorch/serve/metrics/MetricCollector.java
  frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerLifeCycle.java
  frontend/server/src/test/java/org/pytorch/serve/util/ConfigManagerTest.java
  ts/metrics/metric_collector.py
  ts/metrics/system_metrics.py
Labels: documentation, enhancement, benchmark

#1445 support workflow in benchmark-ab.py
  benchmarks/benchmark-ab.py
  docker/config.properties
Labels: enhancement, benchmark

#1421 extend describeAPI to support customized metadata
  docs/management_api.md
  frontend/archive/src/test/resources/models/noop-customized.mar
  frontend/server/src/main/java/org/pytorch/serve/grpcimpl/ManagementImpl.java
  frontend/server/src/main/java/org/pytorch/serve/http/api/rest/ManagementRequestHandler.java
  frontend/server/src/main/java/org/pytorch/serve/http/messages/DescribeModelResponse.java
  frontend/server/src/main/java/org/pytorch/serve/job/GRPCJob.java
  frontend/server/src/main/java/org/pytorch/serve/job/Job.java
  frontend/server/src/main/java/org/pytorch/serve/job/RestJob.java
  frontend/server/src/main/java/org/pytorch/serve/util/ApiUtils.java
  frontend/server/src/main/java/org/pytorch/serve/util/messages/WorkerCommands.java
  frontend/server/src/main/java/org/pytorch/serve/wlm/Model.java
  frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerThread.java
  frontend/server/src/main/resources/proto/management.proto
  frontend/server/src/test/java/org/pytorch/serve/ModelServerTest.java
  frontend/server/src/test/java/org/pytorch/serve/SnapshotTest.java
  frontend/server/src/test/java/org/pytorch/serve/TestUtils.java
  ts/torch_handler/base_handler.py
Labels: enhancement
