Repository pytorch/serve, pull requests merged in 2023-08, with the labels that each got.

#2473 fix metrics for k8s setup
  .pre-commit-config.yaml
  kubernetes/EKS/config.properties
  kubernetes/GKE/config.properties
  kubernetes/Helm/templates/torchserve.yaml
  kubernetes/README.md
Labels: kubernetes, metrics

#2176 feat: add KServe gRPC v2 support
  kubernetes/kserve/Dockerfile
  kubernetes/kserve/Dockerfile.dev
  kubernetes/kserve/README.md
  kubernetes/kserve/build_image.sh
  kubernetes/kserve/kf_request_json/v2/mnist/mnist_v2_bytes.json
  kubernetes/kserve/kf_request_json/v2/mnist/mnist_v2_bytes_grpc.json
  kubernetes/kserve/kf_request_json/v2/mnist/mnist_v2_tensor_grpc.json
  kubernetes/kserve/kserve_wrapper/README.md
  kubernetes/kserve/kserve_wrapper/TSModelRepository.py
  kubernetes/kserve/kserve_wrapper/TorchserveModel.py
  kubernetes/kserve/kserve_wrapper/__main__.py
  kubernetes/kserve/kserve_wrapper/gprc_utils.py
  kubernetes/kserve/requirements.txt
  test/postman/kfv2_inference_data.json
  ts/torch_handler/request_envelope/kservev2.py
  ts_scripts/spellcheck_conf/wordlist.txt
Labels: enhancement, kubernetes, kfserving

#2519 feat: add session affinity to k8s TS
  .pre-commit-config.yaml
  kubernetes/Helm/templates/torchserve.yaml
  kubernetes/Helm/values.yaml
  kubernetes/README.md
  kubernetes/destination_rule.yaml
  kubernetes/gateway.yaml
  kubernetes/virtual_service.yaml
  ts_scripts/spellcheck_conf/wordlist.txt
  ts_scripts/torchserve_grpc_client.py
Labels: kubernetes

#2508 Example for object detection with ultralytics YOLO v8 model
  examples/object_detector/yolo/yolov8/README.md
  examples/object_detector/yolo/yolov8/bus.jpg
  examples/object_detector/yolo/yolov8/custom_handler.py
  examples/object_detector/yolo/yolov8/persons.jpg
  examples/object_detector/yolo/yolov8/requirements.txt
Labels: example

#2494 llama2 70b chat accelerate example
  examples/large_models/Huggingface_accelerate/llama2/Readme.md
  examples/large_models/Huggingface_accelerate/llama2/config.properties
  examples/large_models/Huggingface_accelerate/llama2/custom_handler.py
  examples/large_models/Huggingface_accelerate/llama2/model-config.yaml
  examples/large_models/Huggingface_accelerate/llama2/requirements.txt
  examples/large_models/Huggingface_accelerate/llama2/sample_text.txt
Labels: documentation, example

#2547 Fix syntax error in base_handler initialize
  ts/torch_handler/base_handler.py
Labels: easy

#2535 always use tmp dir to load model
  frontend/archive/src/main/java/org/pytorch/serve/archive/model/ModelArchive.java
  frontend/archive/src/main/java/org/pytorch/serve/archive/utils/ZipUtils.java
  frontend/server/src/main/java/org/pytorch/serve/util/messages/EnvironmentUtils.java
  frontend/server/src/main/java/org/pytorch/serve/wlm/ModelManager.java
  frontend/server/src/main/java/org/pytorch/serve/wlm/WorkerLifeCycle.java
Labels: enhancement, dependencies, aws

#2540 Typehints for model_loader and model_service_worker
  mypy.ini
  ts/model_loader.py
  ts/model_service_worker.py
  ts/tests/unit_tests/test_model_service_worker.py
Labels: easy

#2345 Fix bash snippets in Docker.md
  examples/image_classifier/mnist/Docker.md
Labels: documentation, docker

#2393 Fix Autoscaling Docs typo
  kubernetes/autoscale.md
Labels: kubernetes

#2047 asr speech recognition example
  examples/asr_rnnt_emformer/00_save_jit_model.sh
  examples/asr_rnnt_emformer/01_create_model_archive.sh
  examples/asr_rnnt_emformer/02_configure_server.sh
  examples/asr_rnnt_emformer/03_predict.py
  examples/asr_rnnt_emformer/1089-134686-0000.wav
  examples/asr_rnnt_emformer/1089-134686.trans.txt
  examples/asr_rnnt_emformer/README.md
  examples/asr_rnnt_emformer/config.properties
  examples/asr_rnnt_emformer/handler.py
  examples/asr_rnnt_emformer/requirements.txt
  examples/asr_rnnt_emformer/save_jit_model.py
Labels: example
