Repository pytorch/serve, pull requests merged in 2024-03, with the labels that each got.

#3000 support system_metrics_cmd in config.properties
  docs/configuration.md
  frontend/server/src/main/java/org/pytorch/serve/metrics/MetricCollector.java
  frontend/server/src/main/java/org/pytorch/serve/util/ConfigManager.java
Labels: documentation, enhancement, p0, metrics

#3007 pin python versin in conda in nightly push workflow
  .github/workflows/torchserve-nightly-build.yml
Labels: github_actions

#3009 pin python 3.9 in nightly push
  .github/workflows/torchserve-nightly-build.yml
Labels: github_actions

#2221 Refactor sanity checks to use pytest
  test/pytest/sanity/conftest.py
  test/pytest/sanity/test_config_snapshot.py
  test/pytest/sanity/test_model_registering.py
  ts_scripts/marsgen.py
  ts_scripts/regression_utils.py
  ts_scripts/sanity_utils.py
Labels: code-quality, ci

#3016 pin 3rd party dependency version
  examples/large_models/inferentia2/llama2/continuous_batching/requirements.txt
Labels: dependencies

#3003 TorchServe quickstart chatbot example
  examples/LLM/llama2/chat_app/Readme.md
  examples/LLM/llama2/chat_app/docker/Dockerfile
  examples/LLM/llama2/chat_app/docker/build_image.sh
  examples/LLM/llama2/chat_app/docker/client_app.py
  examples/LLM/llama2/chat_app/docker/config.properties
  examples/LLM/llama2/chat_app/docker/dockerd-entrypoint.sh
  examples/LLM/llama2/chat_app/docker/llama_cpp_handler.py
  examples/LLM/llama2/chat_app/docker/requirements.txt
  examples/LLM/llama2/chat_app/docker/torchserve_server_app.py
Labels: example

#3046 update email in security doc
  SECURITY.md
Labels: documentation
